.faq {
  font-family: "DM Serif Display", serif;
  padding: 20vh 5%;

  /* background: url(/Group14.svg) right/contain no-repeat; */
}
.faq article:nth-of-type(2){
      display: grid;
  grid-template-columns: 1fr 1fr;
}
.Collapsible {
  margin: 2vh 10%;
}
.Collapsible p {
  font-family: "DM Serif Display", serif;
  font-size: 1.5em;
  color: #402b2b;
  line-height: 2;
  width: 80%;
}
.trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: grey;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  color: white;
  font-family: "Rubik", sans-serif;
  color: #ee4d47;
  font-size: 1em;
}
.trigger:after {
  font-family: "FontAwesome";
  content: "o";
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 300ms;
  color: red;
}
.trigger.is-open .trigger:after {
  transform: rotateZ(180deg);
}
.trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}
